.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
  top: -2px;
  position: relative;
  margin: 0 5px;
}
.Rate{cursor: default;}
.Rate__star{
  outline: none;
  color: #b5b5b5;
  display: inline-block;
  padding: 7px;
  text-decoration: none;
  cursor: pointer;
  background: transparent none;
  border: 0;
}
.Rate__star .icon{
  top: 0;
  vertical-align: middle;
}
.Rate__star.hover{color: #efc20f;}
.Rate__star.filled{color: #efc20f;}
.Rate__star:hover, 
.Rate__star:focus{text-decoration: none;}
.Rate__view .count, 
.Rate__view .desc{
  display: inline-block;
  vertical-align: middle;
  padding: 7px
}
.Rate.has-error .Rate__star{color: #f37a77;}
.Rate.has-error .Rate__star.hover{color: #efc20f;}
.Rate.has-error .Rate__star.filled{color: #efc20f;}
.Rate__star[disabled]{
  color: #CCC;
  opacity: 0.8;
}
.Rate__view.disabled .count,
.Rate__view.disabled .desc{
  color: #CCC;
}